In [4]:
import pandas as pd

In [3]:
#method1 :specify full path to file

In [6]:
import pandas as pd

In [9]:
df11 = pd.read_csv('C:\\Users\\anil\\Desktop\\STUDY AREA\\PYTHON FOR DATA SCIENCE\\DemographicData.csv',sep = ',')

In [10]:
df11

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [11]:
import os

In [12]:
print(os.getcwd())

C:\Users\anil\Desktop\STUDY AREA\PYTHON FOR DATA SCIENCE

In [13]:
os.chdir('C:\\Users\\anil\\Desktop\\STUDY AREA\\PYTHON FOR DATA SCIENCE')

In [14]:
import pandas as pd
stats2 = pd.read_csv('http://samplecsvs.s3.amazonaws.com/Sacramentorealestatetransactions.csv')
stats2.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [15]:
import pandas as pd
csv_file ='http://samplecsvs.s3.amazonaws.com/Sacramentorealestatetransactions.csv' 
f = pd.read_csv(csv_file,sep = ',')
f.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [18]:
f.to_csv("newfilename.csv",sep=',')

In [19]:
import pandas as pd
csv_file ='newfilename.csv' 
f = pd.read_csv(csv_file,sep = ',')
f.head()

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [21]:
#--- EXPLORING YOUR DATASET---#

In [22]:
#1 full dataframe
f

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,980,980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,981,981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,982,982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,983,983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,984,984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

In [23]:
#2 no of rows
len(f) #985 rows imported

985

In [24]:
#3  see the columns
f.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'street', 'city', 'zip', 'state', 'beds',
       'baths', 'sq__ft', 'type', 'sale_date', 'price', 'latitude',
       'longitude'],
      dtype='object')

In [25]:
len(f.columns)

14

In [26]:
#6 top rows
f.head(6)

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
5,5,5,5828 PEPPERMILL CT,SACRAMENTO,95841,CA,3,1,1122,Condo,Wed May 21 00:00:00 EDT 2008,89921,38.662595,-121.327813

In [27]:
 #6 bottom rows
f.tail(6)

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
979,979,979,1909 YARNELL WAY,ELK GROVE,95758,CA,3,2,1262,Residential,Thu May 15 00:00:00 EDT 2008,230000,38.417382,-121.484325
980,980,980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,981,981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,982,982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,983,983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,984,984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

In [28]:
#7 information on columns
f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 985 entries, 0 to 984
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    985 non-null    int64
 1   Unnamed: 0.1  985 non-null    int64
 2   street        985 non-null    object
 3   city          985 non-null    object
 4   zip           985 non-null    int64
 5   state         985 non-null    object
 6   beds          985 non-null    int64
 7   baths         985 non-null    int64
 8   sq__ft        985 non-null    int64
 9   type          985 non-null    object
 10  sale_date     985 non-null    object
 11  price         985 non-null    int64
 12  latitude      985 non-null    float64
 13  longitude     985 non-null    float64
dtypes: float64(2), int64(7), object(5)
memory usage: 107.9+ KB

In [29]:
#9 get stats on the columns
f.describe() # this is like summary function

,Unnamed: 0,Unnamed: 0.1,zip,beds,baths,sq__ft,price,latitude,longitude
count,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000
mean,492.000000,492.000000,95750.697462,2.911675,1.776650,1314.916751,234144.263959,38.607732,-121.355982
std,284.489309,284.489309,85.176072,1.307932,0.895371,853.048243,138365.839085,0.145433,0.138278
min,0.000000,0.000000,95603.000000,0.000000,0.000000,0.000000,1551.000000,38.241514,-121.551704
25%,246.000000,246.000000,95660.000000,2.000000,1.000000,952.000000,145000.000000,38.482717,-121.446127
50%,492.000000,492.000000,95762.000000,3.000000,2.000000,1304.000000,213750.000000,38.626582,-121.376220
75%,738.000000,738.000000,95828.000000,4.000000,2.000000,1718.000000,300000.000000,38.695589,-121.295778
max,984.000000,984.000000,95864.000000,8.000000,5.000000,5822.000000,884790.000000,39.020808,-120.597599

In [30]:
f.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,985.0,492.000000,284.489309,0.000000,246.000000,492.000000,738.000000,984.000000
Unnamed: 0.1,985.0,492.000000,284.489309,0.000000,246.000000,492.000000,738.000000,984.000000
zip,985.0,95750.697462,85.176072,95603.000000,95660.000000,95762.000000,95828.000000,95864.000000
beds,985.0,2.911675,1.307932,0.000000,2.000000,3.000000,4.000000,8.000000
baths,985.0,1.776650,0.895371,0.000000,1.000000,2.000000,2.000000,5.000000
sq__ft,985.0,1314.916751,853.048243,0.000000,952.000000,1304.000000,1718.000000,5822.000000
price,985.0,234144.263959,138365.839085,1551.000000,145000.000000,213750.000000,300000.000000,884790.000000
latitude,985.0,38.607732,0.145433,38.241514,38.482717,38.626582,38.695589,39.020808
longitude,985.0,-121.355982,0.138278,-121.551704,-121.446127,-121.376220,-121.295778,-120.597599

 ###### RENAMING COLUMNS OF THE DATAFRAME

In [31]:
f.head()

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [32]:
f.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'street', 'city', 'zip', 'state', 'beds',
       'baths', 'sq__ft', 'type', 'sale_date', 'price', 'latitude',
       'longitude'],
      dtype='object')

In [33]:
f.coulmns = ['SNO', 'street', 'city', 'zip', 'state', 'beds', 'baths',
       'sq__ft', 'type', 'sale_date', 'price', 'latitude', 'longitude']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [34]:
f.head()

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [35]:
##SUBSETTING DATAFRAMES IN PANDAS

In [36]:
f[2:9]

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
5,5,5,5828 PEPPERMILL CT,SACRAMENTO,95841,CA,3,1,1122,Condo,Wed May 21 00:00:00 EDT 2008,89921,38.662595,-121.327813
6,6,6,6048 OGDEN NASH WAY,SACRAMENTO,95842,CA,3,2,1104,Residential,Wed May 21 00:00:00 EDT 2008,90895,38.681659,-121.351705
7,7,7,2561 19TH AVE,SACRAMENTO,95820,CA,3,1,1177,Residential,Wed May 21 00:00:00 EDT 2008,91002,38.535092,-121.481367
8,8,8,11150 TRINITY RIVER DR Unit 114,RANCHO CORDOVA,95670,CA,2,2,941,Condo,Wed May 21 00:00:00 EDT 2008,94905,38.621188,-121.270555

In [37]:
#reversing the dataframe
f[::-1]

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
984,984,984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915
983,983,983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
982,982,982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
981,981,981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
980,980,980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
1,1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
0,0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879

In [38]:
f[::20]

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
20,20,20,6118 STONEHAND AVE,CITRUS HEIGHTS,95621,CA,3,2,1118,Residential,Wed May 21 00:00:00 EDT 2008,122000,38.707851,-121.320707
40,40,40,4800 WESTLAKE PKWY Unit 2109,SACRAMENTO,95835,CA,2,2,1304,Condo,Wed May 21 00:00:00 EDT 2008,152000,38.658812,-121.542345
60,60,60,4844 CLYDEBANK WAY,ANTELOPE,95843,CA,3,2,1215,Residential,Wed May 21 00:00:00 EDT 2008,182716,38.714609,-121.347887
80,80,80,5037 J PKWY,SACRAMENTO,95823,CA,3,2,1478,Residential,Wed May 21 00:00:00 EDT 2008,231477,38.491399,-121.443547
100,100,100,12209 CONSERVANCY WAY,RANCHO CORDOVA,95742,CA,0,0,0,Residential,Wed May 21 00:00:00 EDT 2008,263500,38.553867,-121.219141
120,120,120,4359 CREGAN CT,RANCHO CORDOVA,95742,CA,5,4,3516,Residential,Wed May 21 00:00:00 EDT 2008,320000,38.545128,-121.224922
140,140,140,1300 F ST,SACRAMENTO,95814,CA,3,3,1627,Residential,Wed May 21 00:00:00 EDT 2008,391000,38.583550,-121.487289
160,160,160,9512 EMERALD PARK DR Unit 3,ELK GROVE,95624,CA,2,1,840,Condo,Tue May 20 00:00:00 EDT 2008,71000,38.405730,-121.369832
180,180,180,211 MCDANIEL CIR,SACRAMENTO,95838,CA,3,2,1110,Residential,Tue May 20 00:00:00 EDT 2008,123750,38.636565,-121.460383
200,200,200,4660 CEDARWOOD WAY,SACRAMENTO,95823,CA,4,2,1310,Residential,Tue May 20 00:00:00 EDT 2008,150000,38.484834,-121.449316
220,220,220,7031 CANEVALLEY CIR,CITRUS HEIGHTS,95621,CA,3,2,1137,Residential,Tue May 20 00:00:00 EDT 2008,194000,38.718693,-121.303619
240,240,240,9257 CALDERA WAY,SACRAMENTO,95826,CA,4,2,1605,Residential,Tue May 20 00:00:00 EDT 2008,228000,38.558210,-121.355022
260,260,260,7922 MANSELL WAY,ELK GROVE,95758,CA,4,2,1595,Residential,Tue May 20 00:00:00 EDT 2008,260000,38.409634,-121.410787
280,280,280,7320 6TH ST,RIO LINDA,95673,CA,3,1,1284,Residential,Tue May 20 00:00:00 EDT 2008,300000,38.700553,-121.452223
300,300,300,1620 BASLER ST,SACRAMENTO,95811,CA,4,2,1718,Residential,Tue May 20 00:00:00 EDT 2008,361948,38.591822,-121.478644
320,320,320,2125 BIG SKY DR,ROCKLIN,95765,CA,5,3,0,Residential,Tue May 20 00:00:00 EDT 2008,480000,38.801637,-121.278798
340,340,340,3924 HIGH ST,SACRAMENTO,95838,CA,2,1,796,Residential,Mon May 19 00:00:00 EDT 2008,65000,38.638797,-121.435049
360,360,360,523 EXCHANGE ST,SACRAMENTO,95838,CA,3,1,966,Residential,Mon May 19 00:00:00 EDT 2008,114000,38.659414,-121.454080
380,380,380,7226 LARCHMONT DR,NORTH HIGHLANDS,95660,CA,3,2,1209,Residential,Mon May 19 00:00:00 EDT 2008,130000,38.699269,-121.376334
400,400,400,117 EVCAR WAY,RIO LINDA,95673,CA,3,2,1182,Residential,Mon May 19 00:00:00 EDT 2008,164000,38.687659,-121.463300
420,420,420,508 SAMUEL WAY,SACRAMENTO,95838,CA,3,2,1505,Residential,Mon May 19 00:00:00 EDT 2008,197654,38.645689,-121.452766
440,440,440,4419 79TH ST,SACRAMENTO,95820,CA,3,2,1212,Residential,Mon May 19 00:00:00 EDT 2008,228327,38.534827,-121.412545
460,460,460,3662 RIVER DR,SACRAMENTO,95833,CA,4,3,2447,Residential,Mon May 19 00:00:00 EDT 2008,246000,38.604969,-121.542550
480,480,480,1042 STARBROOK DR,GALT,95632,CA,4,2,1928,Residential,Mon May 19 00:00:00 EDT 2008,280000,38.285611,-121.293063
500,500,500,4741 PACIFIC PARK DR,ANTELOPE,95843,CA,5,3,2347,Residential,Mon May 19 00:00:00 EDT 2008,325000,38.709299,-121.353056
520,520,520,6313 CASTRO VERDE WAY,ELK GROVE,95757,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,383000,38.381102,-121.429010
540,540,540,719 BAYWOOD CT,EL DORADO HILLS,95762,CA,5,3,0,Residential,Mon May 19 00:00:00 EDT 2008,487500,38.647598,-121.077801
560,560,560,44 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.884590,-121.289835
580,580,580,59 E ST,LINCOLN,95648,CA,3,2,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885794,-121.290281
600,600,600,7 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,Mon May 19 00:00:00 EDT 2008,4897,38.885962,-121.289436
620,620,620,3715 DIDCOT CIR,SACRAMENTO,95838,CA,4,2,1064,Residential,Fri May 16 00:00:00 EDT 2008,109000,38.635232,-121.460098
640,640,640,7836 ORCHARD WOODS CIR,SACRAMENTO,95828,CA,2,2,1132,Residential,Fri May 16 00:00:00 EDT 2008,145000,38.479550,-121.410867
660,660,660,8300 LICHEN DR,CITRUS HEIGHTS,95621,CA,3,1,1103,Residential,Fri May 16 00:00:00 EDT 2008,170000,38.716410,-121.306239
680,680,680,435 EXCHANGE ST,SACRAMENTO,95838,CA,3,1,1082,Residential,Fri May 16 00:00:00 EDT 2008,190000,38.659434,-121.455236
700,700,700,7901 GAZELLE TRAIL WAY,ANTELOPE,95843,CA,4,2,1953,Residential,Fri May 16 00:00:00 EDT 2008,207744,38.711740,-121.342675
720,720,720,320 GROTH CIR,SACRAMENTO,95834,CA,3,2,1441,Residential,Fri May 16 00:00:00 EDT 2008,225000,38.638882,-121.531883
740,740,740,9247 DELAIR WAY,ELK GROVE,95758,CA,4,3,1899,Residential,Fri May 16 00:00:00 EDT 2008,249000,38.422241,-121.458022
760,760,760,2678 BRIARTON DR,LINCOLN,95648,CA,3,2,1650,Residential,Fri May 16 00:00:00 EDT 2008,276500,38.844116,-121.274806
780,780,780,5776 TERRACE DR,ROCKLIN,95765,CA,3,2,1577,Residential,Fri May 16 00:00:00 EDT 2008,300567,38.800539,-121.260979
800,800,800,1214 DAWNWOOD DR,GALT,95632,CA,3,2,1548,Residential,Fri May 16 00:00:00 EDT 2008,328370,38.290119,-121.286023
820,820,820,14004 WALNUT AVE,WALNUT GROVE,95690,CA,3,1,1727,Residential,Fri May 16 00:00:00 EDT 2008,380000,38.247659,-121.515129
840,840,840,1113 SANDWICK WAY,FOLSOM,95630,CA,4,3,3261,Residential,Fri May 16 00:00:00 EDT 2008,446000,38.673882,-121.105077
860,860,860,8432 BRIGGS DR,ROSEVILLE,95747,CA,5,3,3579,Residential,Fri May 16 00:00:00 EDT 2008,610000,38.788610,-121.339495
880,880,880,6208 GRATTAN WAY,NORTH HIGHLANDS,95660,CA,3,1,1051,Residential,Thu May 15 00:00:00 EDT 2008,105000,38.679279,-121.376615
900,900,900,2636 TRONERO WAY,RANCHO CORDOVA,95670,CA,3,1,1000,Residential,Thu May 15 00:00:00 EDT 2008,134000,38.593049,-121.303040
920,920,920,1001 RIO NORTE WAY,SACRAMENTO,95834,CA,3,2,1202,Residential,Thu May 15 00:00:00 EDT 2008,169000,38.634292,-121.485106
940,940,940,6601 WOODMORE OAKS DR,ORANGEVALE,95662,CA,3,2,1294,Residential,Thu May 15 00:00:00 EDT 2008,191250,38.687006,-121.254319
960,960,960,7958 ROSEVIEW WAY,SACRAMENTO,95828,CA,3,2,1450,Residential,Thu May 15 00:00:00 EDT 2008,213000,38.467836,-121.410366
980,980,980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620

In [39]:
f.head()

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [40]:
f['street']

0             3526 HIGH ST
1              51 OMAHA CT
2           2796 BRANCH ST
3         2805 JANETTE WAY
4          6001 MCMAHON DR
              ...
980     9169 GARLINGTON CT
981        6932 RUSKUT WAY
982      7933 DAFFODIL WAY
983       8304 RED FOX WAY
984    3882 YELLOWSTONE LN
Name: street, Length: 985, dtype: object

In [41]:
f[['street','state']].head(6)

               street state
0        3526 HIGH ST    CA
1         51 OMAHA CT    CA
2      2796 BRANCH ST    CA
3    2805 JANETTE WAY    CA
4     6001 MCMAHON DR    CA
5  5828 PEPPERMILL CT    CA

In [42]:
['street','state']

['street', 'state']

In [43]:
#Quick access - requires the name to be one word

In [44]:
f.head()

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [45]:
f['street']

0             3526 HIGH ST
1              51 OMAHA CT
2           2796 BRANCH ST
3         2805 JANETTE WAY
4          6001 MCMAHON DR
              ...
980     9169 GARLINGTON CT
981        6932 RUSKUT WAY
982      7933 DAFFODIL WAY
983       8304 RED FOX WAY
984    3882 YELLOWSTONE LN
Name: street, Length: 985, dtype: object

In [46]:
f.city.head(59)

0          SACRAMENTO
1          SACRAMENTO
2          SACRAMENTO
3          SACRAMENTO
4          SACRAMENTO
5          SACRAMENTO
6          SACRAMENTO
7          SACRAMENTO
8      RANCHO CORDOVA
9           RIO LINDA
10         SACRAMENTO
11         SACRAMENTO
12         SACRAMENTO
13         SACRAMENTO
14         SACRAMENTO
15         SACRAMENTO
16          RIO LINDA
17     CITRUS HEIGHTS
18         SACRAMENTO
19          RIO LINDA
20     CITRUS HEIGHTS
21         SACRAMENTO
22    NORTH HIGHLANDS
23         SACRAMENTO
24    NORTH HIGHLANDS
25           ANTELOPE
26         SACRAMENTO
27         SACRAMENTO
28         SACRAMENTO
29         SACRAMENTO
30          ELK GROVE
31    NORTH HIGHLANDS
32         SACRAMENTO
33            ELVERTA
34          ELK GROVE
35         SACRAMENTO
36    NORTH HIGHLANDS
37         SACRAMENTO
38         SACRAMENTO
39         SACRAMENTO
40         SACRAMENTO
41         SACRAMENTO
42          ELK GROVE
43           ANTELOPE
44    NORTH HIGHLANDS
45         SACRAMENTO
46         SACRAMENTO
47         SACRAMENTO
48         SACRAMENTO
49         SACRAMENTO
50          ELK GROVE
51         SACRAMENTO
52         SACRAMENTO
53         SACRAMENTO
54         SACRAMENTO
55               GALT
56         SACRAMENTO
57         SACRAMENTO
58         CARMICHAEL
Name: city, dtype: object

In [47]:
## COMBINING THE TWO
f[0:6][['street','city']]

               street        city
0        3526 HIGH ST  SACRAMENTO
1         51 OMAHA CT  SACRAMENTO
2      2796 BRANCH ST  SACRAMENTO
3    2805 JANETTE WAY  SACRAMENTO
4     6001 MCMAHON DR  SACRAMENTO
5  5828 PEPPERMILL CT  SACRAMENTO

In [48]:
f[['street','city']][0:6]

               street        city
0        3526 HIGH ST  SACRAMENTO
1         51 OMAHA CT  SACRAMENTO
2      2796 BRANCH ST  SACRAMENTO
3    2805 JANETTE WAY  SACRAMENTO
4     6001 MCMAHON DR  SACRAMENTO
5  5828 PEPPERMILL CT  SACRAMENTO

## BASIC OPERATIONS WITH DATAFRAME

In [49]:
#ALREADY SPOKE ABOUT SUBSETTING

In [50]:
f[['street','city','state']][1:6]

               street        city state
1         51 OMAHA CT  SACRAMENTO    CA
2      2796 BRANCH ST  SACRAMENTO    CA
3    2805 JANETTE WAY  SACRAMENTO    CA
4     6001 MCMAHON DR  SACRAMENTO    CA
5  5828 PEPPERMILL CT  SACRAMENTO    CA

In [51]:
f[1:5]

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
1,1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [52]:
result = f.price * f.price

In [53]:
result.head()

0    3507245284
1    4652876944
2    4744454400
3    4803460249
4    6707610000
Name: price, dtype: int64

In [54]:
f.price.tail()

980    232425
981    234000
982    235000
983    235301
984    235738
Name: price, dtype: int64

In [55]:
##add column

In [56]:
f['MyCalc'] = f.price *f.price

In [57]:
f[1:5]

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude,MyCalc
1,1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028,4652876944
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839,4744454400
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146,4803460249
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768,6707610000

In [58]:
#comparisions         
f['xyz'] = [1,2,3,4,]  #ERROR NO RECYCLING OPTION

ValueError: Length of values does not match length of index

In [59]:
#REMOVING A COLUM
f.head()

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude,MyCalc
0,0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879,3507245284
1,1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028,4652876944
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839,4744454400
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146,4803460249
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768,6707610000

In [60]:
f.drop('MyCalc',1)

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,980,980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,981,981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,982,982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,983,983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,984,984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

In [61]:
f.head()

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude,MyCalc
0,0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879,3507245284
1,1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028,4652876944
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839,4744454400
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146,4803460249
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768,6707610000

In [62]:
f = f.drop('MyCalc',1)

In [63]:
f

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,980,980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,981,981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,982,982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,983,983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,984,984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

In [65]:
f

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,980,980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,981,981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,982,982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,983,983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,984,984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

#########FILTERING A DATA FRAME

In [66]:
#FILTERING IS ABOUT ROWS

In [67]:
f.head()

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [68]:
f.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'street', 'city', 'zip', 'state', 'beds',
       'baths', 'sq__ft', 'type', 'sale_date', 'price', 'latitude',
       'longitude'],
      dtype='object')

In [69]:
f.beds >2

0      False
1       True
2      False
3      False
4      False
       ...
980     True
981     True
982     True
983     True
984     True
Name: beds, Length: 985, dtype: bool

In [70]:
Filter = f.beds>2

In [71]:
Filter

0      False
1       True
2      False
3      False
4      False
       ...
980     True
981     True
982     True
983     True
984     True
Name: beds, Length: 985, dtype: bool

In [72]:
f[30:41]

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
30,30,30,5201 LAGUNA OAKS DR Unit 140,ELK GROVE,95758,CA,2,2,1039,Condo,Wed May 21 00:00:00 EDT 2008,133000,38.423251,-121.444489
31,31,31,6768 MEDORA DR,NORTH HIGHLANDS,95660,CA,3,2,1152,Residential,Wed May 21 00:00:00 EDT 2008,134555,38.691161,-121.371920
32,32,32,3100 EXPLORER DR,SACRAMENTO,95827,CA,3,2,1380,Residential,Wed May 21 00:00:00 EDT 2008,136500,38.566663,-121.332644
33,33,33,7944 DOMINION WAY,ELVERTA,95626,CA,3,2,1116,Residential,Wed May 21 00:00:00 EDT 2008,138750,38.713182,-121.411227
34,34,34,5201 LAGUNA OAKS DR Unit 162,ELK GROVE,95758,CA,2,2,1039,Condo,Wed May 21 00:00:00 EDT 2008,141000,38.423251,-121.444489
35,35,35,3920 SHINING STAR DR,SACRAMENTO,95823,CA,3,2,1418,Residential,Wed May 21 00:00:00 EDT 2008,146250,38.487420,-121.462459
36,36,36,5031 CORVAIR ST,NORTH HIGHLANDS,95660,CA,3,2,1082,Residential,Wed May 21 00:00:00 EDT 2008,147308,38.658246,-121.375469
37,37,37,7661 NIXOS WAY,SACRAMENTO,95823,CA,4,2,1472,Residential,Wed May 21 00:00:00 EDT 2008,148750,38.479553,-121.463317
38,38,38,7044 CARTHY WAY,SACRAMENTO,95828,CA,4,2,1146,Residential,Wed May 21 00:00:00 EDT 2008,149593,38.498570,-121.420925
39,39,39,2442 LARKSPUR LN,SACRAMENTO,95825,CA,1,1,760,Condo,Wed May 21 00:00:00 EDT 2008,150000,38.585140,-121.403736
40,40,40,4800 WESTLAKE PKWY Unit 2109,SACRAMENTO,95835,CA,2,2,1304,Condo,Wed May 21 00:00:00 EDT 2008,152000,38.658812,-121.542345

In [73]:
f[Filter]

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
1,1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
5,5,5,5828 PEPPERMILL CT,SACRAMENTO,95841,CA,3,1,1122,Condo,Wed May 21 00:00:00 EDT 2008,89921,38.662595,-121.327813
6,6,6,6048 OGDEN NASH WAY,SACRAMENTO,95842,CA,3,2,1104,Residential,Wed May 21 00:00:00 EDT 2008,90895,38.681659,-121.351705
7,7,7,2561 19TH AVE,SACRAMENTO,95820,CA,3,1,1177,Residential,Wed May 21 00:00:00 EDT 2008,91002,38.535092,-121.481367
9,9,9,7325 10TH ST,RIO LINDA,95673,CA,3,2,1146,Residential,Wed May 21 00:00:00 EDT 2008,98937,38.700909,-121.442979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,980,980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,981,981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,982,982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,983,983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,984,984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

In [74]:
# lets use this filters in practice
Filter2 = f.price > 70000

In [75]:
Filter2

0      False
1      False
2      False
3      False
4       True
       ...
980     True
981     True
982     True
983     True
984     True
Name: price, Length: 985, dtype: bool

In [76]:
f

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,980,980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,981,981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,982,982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,983,983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,984,984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

In [79]:
f[Filter2] #error

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
5,5,5,5828 PEPPERMILL CT,SACRAMENTO,95841,CA,3,1,1122,Condo,Wed May 21 00:00:00 EDT 2008,89921,38.662595,-121.327813
6,6,6,6048 OGDEN NASH WAY,SACRAMENTO,95842,CA,3,2,1104,Residential,Wed May 21 00:00:00 EDT 2008,90895,38.681659,-121.351705
7,7,7,2561 19TH AVE,SACRAMENTO,95820,CA,3,1,1177,Residential,Wed May 21 00:00:00 EDT 2008,91002,38.535092,-121.481367
8,8,8,11150 TRINITY RIVER DR Unit 114,RANCHO CORDOVA,95670,CA,2,2,941,Condo,Wed May 21 00:00:00 EDT 2008,94905,38.621188,-121.270555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,980,980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,981,981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,982,982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,983,983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,984,984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

In [80]:
f.beds>2 and f.baths>1

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [81]:
f[Filter & Filter2]

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
5,5,5,5828 PEPPERMILL CT,SACRAMENTO,95841,CA,3,1,1122,Condo,Wed May 21 00:00:00 EDT 2008,89921,38.662595,-121.327813
6,6,6,6048 OGDEN NASH WAY,SACRAMENTO,95842,CA,3,2,1104,Residential,Wed May 21 00:00:00 EDT 2008,90895,38.681659,-121.351705
7,7,7,2561 19TH AVE,SACRAMENTO,95820,CA,3,1,1177,Residential,Wed May 21 00:00:00 EDT 2008,91002,38.535092,-121.481367
9,9,9,7325 10TH ST,RIO LINDA,95673,CA,3,2,1146,Residential,Wed May 21 00:00:00 EDT 2008,98937,38.700909,-121.442979
10,10,10,645 MORRISON AVE,SACRAMENTO,95838,CA,3,2,909,Residential,Wed May 21 00:00:00 EDT 2008,100309,38.637663,-121.451520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,980,980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,981,981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,982,982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,983,983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,984,984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

In [88]:
f[(f.beds  >1) & (f.price >70000)]

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
5,5,5,5828 PEPPERMILL CT,SACRAMENTO,95841,CA,3,1,1122,Condo,Wed May 21 00:00:00 EDT 2008,89921,38.662595,-121.327813
6,6,6,6048 OGDEN NASH WAY,SACRAMENTO,95842,CA,3,2,1104,Residential,Wed May 21 00:00:00 EDT 2008,90895,38.681659,-121.351705
7,7,7,2561 19TH AVE,SACRAMENTO,95820,CA,3,1,1177,Residential,Wed May 21 00:00:00 EDT 2008,91002,38.535092,-121.481367
8,8,8,11150 TRINITY RIVER DR Unit 114,RANCHO CORDOVA,95670,CA,2,2,941,Condo,Wed May 21 00:00:00 EDT 2008,94905,38.621188,-121.270555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,980,980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,981,981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,982,982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,983,983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,984,984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

In [90]:
##another one
f

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,980,980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,981,981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,982,982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,983,983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,984,984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

In [91]:
f[f.beds == 2]

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
8,8,8,11150 TRINITY RIVER DR Unit 114,RANCHO CORDOVA,95670,CA,2,2,941,Condo,Wed May 21 00:00:00 EDT 2008,94905,38.621188,-121.270555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
926,926,926,7687 HOWERTON DR,SACRAMENTO,95831,CA,2,2,1177,Residential,Thu May 15 00:00:00 EDT 2008,171750,38.480859,-121.539745
928,928,928,7045 PEEVEY CT,SACRAMENTO,95823,CA,2,2,904,Residential,Thu May 15 00:00:00 EDT 2008,173056,38.502254,-121.451444
951,951,951,2221 2ND AVE,SACRAMENTO,95818,CA,2,2,1089,Residential,Thu May 15 00:00:00 EDT 2008,205000,38.555781,-121.485331
953,953,953,5209 LAGUNA CREST WAY,ELK GROVE,95758,CA,2,2,1189,Residential,Thu May 15 00:00:00 EDT 2008,207000,38.424421,-121.443915
954,954,954,416 LEITCH AVE,SACRAMENTO,95815,CA,2,1,795,Residential,Thu May 15 00:00:00 EDT 2008,207973,38.612694,-121.456669

In [92]:
# how to get the unique categories
f.beds.unique()

array([2, 3, 1, 4, 0, 5, 8, 6], dtype=int64)

In [96]:
##Quick excercise:
#find out everything about city of 'CITRUS HEIGHTS'

In [97]:
f[f.city == 'CITRUS HEIGHTS']

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
17,17,17,6236 LONGFORD DR Unit 1,CITRUS HEIGHTS,95621,CA,2,1,795,Condo,Wed May 21 00:00:00 EDT 2008,116250,38.679776,-121.314089
20,20,20,6118 STONEHAND AVE,CITRUS HEIGHTS,95621,CA,3,2,1118,Residential,Wed May 21 00:00:00 EDT 2008,122000,38.707851,-121.320707
82,82,82,6613 NAVION DR,CITRUS HEIGHTS,95621,CA,4,2,1277,Residential,Wed May 21 00:00:00 EDT 2008,235000,38.702855,-121.313080
92,92,92,5448 MAIDSTONE WAY,CITRUS HEIGHTS,95621,CA,3,2,1305,Residential,Wed May 21 00:00:00 EDT 2008,250000,38.665395,-121.293288
158,158,158,6272 LONGFORD DR Unit 1,CITRUS HEIGHTS,95621,CA,2,1,795,Condo,Tue May 20 00:00:00 EDT 2008,69000,38.680923,-121.313945
202,202,202,6716 TAREYTON WAY,CITRUS HEIGHTS,95621,CA,3,2,1104,Residential,Tue May 20 00:00:00 EDT 2008,156000,38.693724,-121.307169
206,206,206,7140 BLUE SPRINGS WAY,CITRUS HEIGHTS,95621,CA,3,2,1156,Residential,Tue May 20 00:00:00 EDT 2008,161653,38.720653,-121.302241
220,220,220,7031 CANEVALLEY CIR,CITRUS HEIGHTS,95621,CA,3,2,1137,Residential,Tue May 20 00:00:00 EDT 2008,194000,38.718693,-121.303619
232,232,232,5805 HIMALAYA WAY,CITRUS HEIGHTS,95621,CA,4,2,1578,Residential,Tue May 20 00:00:00 EDT 2008,215000,38.696489,-121.328555
233,233,233,7944 SYLVAN OAK WAY,CITRUS HEIGHTS,95610,CA,3,2,1317,Residential,Tue May 20 00:00:00 EDT 2008,215000,38.710388,-121.261096
258,258,258,6344 BONHAM CIR,CITRUS HEIGHTS,95610,CA,5,4,2085,Multi-Family,Tue May 20 00:00:00 EDT 2008,256054,38.682358,-121.272876
355,355,355,6013 ROWAN WAY,CITRUS HEIGHTS,95621,CA,2,1,888,Residential,Mon May 19 00:00:00 EDT 2008,101000,38.675893,-121.296300
395,395,395,6000 BIRCHGLADE WAY,CITRUS HEIGHTS,95621,CA,4,2,1351,Residential,Mon May 19 00:00:00 EDT 2008,158000,38.701660,-121.323249
399,399,399,6632 IBEX WOODS CT,CITRUS HEIGHTS,95621,CA,2,2,1162,Residential,Mon May 19 00:00:00 EDT 2008,164000,38.720868,-121.309855
403,403,403,8306 CURLEW CT,CITRUS HEIGHTS,95621,CA,4,2,1280,Residential,Mon May 19 00:00:00 EDT 2008,167293,38.715781,-121.298519
404,404,404,8306 CURLEW CT,CITRUS HEIGHTS,95621,CA,4,2,1280,Residential,Mon May 19 00:00:00 EDT 2008,167293,38.715781,-121.298519
418,418,418,5938 WOODBRIAR WAY,CITRUS HEIGHTS,95621,CA,3,2,1329,Residential,Mon May 19 00:00:00 EDT 2008,192700,38.706152,-121.325399
427,427,427,7213 CALVIN DR,CITRUS HEIGHTS,95621,CA,3,1,1258,Residential,Mon May 19 00:00:00 EDT 2008,212000,38.698154,-121.298375
482,482,482,6220 OPUS CT,CITRUS HEIGHTS,95621,CA,3,2,1343,Residential,Mon May 19 00:00:00 EDT 2008,284893,38.715853,-121.317095
603,603,603,8208 WOODYARD WAY,CITRUS HEIGHTS,95621,CA,3,2,1166,Residential,Fri May 16 00:00:00 EDT 2008,30000,38.715322,-121.314787
645,645,645,7204 KERSTEN ST,CITRUS HEIGHTS,95621,CA,3,2,1075,Residential,Fri May 16 00:00:00 EDT 2008,155800,38.695863,-121.300814
649,649,649,6824 OLIVE TREE WAY,CITRUS HEIGHTS,95610,CA,3,2,1410,Residential,Fri May 16 00:00:00 EDT 2008,160000,38.689239,-121.267737
660,660,660,8300 LICHEN DR,CITRUS HEIGHTS,95621,CA,3,1,1103,Residential,Fri May 16 00:00:00 EDT 2008,170000,38.716410,-121.306239
666,666,666,7800 TABARE CT,CITRUS HEIGHTS,95621,CA,3,2,1199,Residential,Fri May 16 00:00:00 EDT 2008,178000,38.707990,-121.302979
688,688,688,6019 CHESHIRE WAY,CITRUS HEIGHTS,95610,CA,4,3,1736,Residential,Fri May 16 00:00:00 EDT 2008,195000,38.676437,-121.279165
713,713,713,7252 CARRIAGE DR,CITRUS HEIGHTS,95621,CA,4,2,1419,Residential,Fri May 16 00:00:00 EDT 2008,220000,38.698058,-121.294893
739,739,739,5976 KYLENCH CT,CITRUS HEIGHTS,95621,CA,3,2,1367,Residential,Fri May 16 00:00:00 EDT 2008,249000,38.708966,-121.324670
764,764,764,6905 COBALT WAY,CITRUS HEIGHTS,95621,CA,4,2,1582,Residential,Fri May 16 00:00:00 EDT 2008,280000,38.691393,-121.305215
782,782,782,8215 PEREGRINE WAY,CITRUS HEIGHTS,95610,CA,3,2,1401,Residential,Fri May 16 00:00:00 EDT 2008,305000,38.715493,-121.262930
914,914,914,8321 MISTLETOE WAY,CITRUS HEIGHTS,95621,CA,4,2,1381,Residential,Thu May 15 00:00:00 EDT 2008,161250,38.717738,-121.308322
919,919,919,6517 DONEGAL DR,CITRUS HEIGHTS,95621,CA,3,1,1344,Residential,Thu May 15 00:00:00 EDT 2008,166000,38.681554,-121.312934
938,938,938,6622 WILLOWLEAF DR,CITRUS HEIGHTS,95621,CA,4,3,1892,Residential,Thu May 15 00:00:00 EDT 2008,189836,38.699714,-121.311635
943,943,943,7409 VOYAGER WAY,CITRUS HEIGHTS,95621,CA,3,1,1073,Residential,Thu May 15 00:00:00 EDT 2008,198000,38.700717,-121.313300
963,963,963,8445 OLD AUBURN RD,CITRUS HEIGHTS,95610,CA,3,2,1882,Residential,Thu May 15 00:00:00 EDT 2008,219000,38.715423,-121.246743
982,982,982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803

In [93]:
f.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'street', 'city', 'zip', 'state', 'beds',
       'baths', 'sq__ft', 'type', 'sale_date', 'price', 'latitude',
       'longitude'],
      dtype='object')

In [94]:
f.city

0           SACRAMENTO
1           SACRAMENTO
2           SACRAMENTO
3           SACRAMENTO
4           SACRAMENTO
            ...
980         SACRAMENTO
981         SACRAMENTO
982     CITRUS HEIGHTS
983          ELK GROVE
984    EL DORADO HILLS
Name: city, Length: 985, dtype: object

In [ ]:
###  ACCESSING INDIVIDUAL ELEMENTS

In [99]:
f[2,2] #error why ???

KeyError: (2, 2)

In [100]:
## .at  #for labels.  important even integers are treated as labels
#.iat  #for integer location.

In [106]:
f.iat[3,4]

95815

In [111]:
f.iat[5,2]

'5828 PEPPERMILL CT'

In [113]:
f.iat[0,3]

'SACRAMENTO'

In [115]:
f.at[2,'price']

68880

In [ ]:
# why we need .at:

In [117]:
sub10 = f[::10]

In [118]:
sub10

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
10,10,10,645 MORRISON AVE,SACRAMENTO,95838,CA,3,2,909,Residential,Wed May 21 00:00:00 EDT 2008,100309,38.637663,-121.451520
20,20,20,6118 STONEHAND AVE,CITRUS HEIGHTS,95621,CA,3,2,1118,Residential,Wed May 21 00:00:00 EDT 2008,122000,38.707851,-121.320707
30,30,30,5201 LAGUNA OAKS DR Unit 140,ELK GROVE,95758,CA,2,2,1039,Condo,Wed May 21 00:00:00 EDT 2008,133000,38.423251,-121.444489
40,40,40,4800 WESTLAKE PKWY Unit 2109,SACRAMENTO,95835,CA,2,2,1304,Condo,Wed May 21 00:00:00 EDT 2008,152000,38.658812,-121.542345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,940,940,6601 WOODMORE OAKS DR,ORANGEVALE,95662,CA,3,2,1294,Residential,Thu May 15 00:00:00 EDT 2008,191250,38.687006,-121.254319
950,950,950,6600 SILVERTHORNE CIR,SACRAMENTO,95842,CA,4,3,1968,Residential,Thu May 15 00:00:00 EDT 2008,205000,38.686070,-121.342369
960,960,960,7958 ROSEVIEW WAY,SACRAMENTO,95828,CA,3,2,1450,Residential,Thu May 15 00:00:00 EDT 2008,213000,38.467836,-121.410366
970,970,970,3557 SODA WAY,SACRAMENTO,95834,CA,0,0,0,Residential,Thu May 15 00:00:00 EDT 2008,224000,38.631026,-121.501879
980,980,980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620

In [124]:
sub10.iat[10,4]

95742

In [125]:
sub10.at[10,'price']

100309

In [104]:
f

,Unnamed: 0,Unnamed: 0.1,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,0,0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,1,1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2,2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,3,3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,4,4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,980,980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,981,981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,982,982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,983,983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,984,984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915